.banner {
  display: flex;
  width: 100%;
  height: 570px;
  margin-bottom: 20px;
}

.banner_content 
{
    width: 1550px;
    padding: 24px;
    display: flex;
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    margin: 0 auto;
}

.banner-left {
  width: 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  position: relative;
  margin-top: -50px;
}

.content-left {
  color: var(--violet);
  font-weight: 300;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  
}

.content-left span {
  line-height: 183px;
  font-size: 150px;
  display: block;
}

.shoe
{

  transform: translateY(30%);
  margin-left: 10%;

}

.nswitch
{
  transform: translateY(-90%);
  margin-left: 60%;
  /* margin-top: 60px; */
}


.banner-right {
  width: 50%;
  position: relative;
}

.discount {
  font-weight: 500;
  font-size: 50px;
  line-height: 24px;
  /* text-align: center; */
  color: var(--bg);
  position: absolute;
  margin-left: 180px;
  /* transform: translateX(-50%); */
  bottom: 260px;
}

.discount span {
  color: var(--violet);
  font-weight: 700;
}

.eventimg{
    width: 800px;
    margin-top: -50px;
}

.banner-more {
  margin-bottom: 20px;
  margin-left: 310px;
  display: flex;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.banner-more {
  background: var(--violet);
  box-shadow: var(--violet);
}

.banner-more:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

@media (max-width: 1600px) {
  .banner_content{
    margin-left: 15px;
    margin-right: 20px;
  }

  .discount{
    line-height: 50px;
    margin: 0;
    text-align: center;
    margin: auto;
    margin-left: 120px;
  }

  .banner-more{
    margin: auto;
  }

  .nswitch{
    width: 200px;
  }
}

@media (max-width: 1000px){
    .discount{
      margin-left: 30px;
    }

    .content-left{
      margin-top: 80px;
      line-height: 20px;
      font-size: 50px;
    }

    .content-left span{
      font-size: 50px;
    }
}

@media (max-width: 700px){

  .banner_content{
    display: block;
  }

  .banner{
    height: auto;
  }

  .banner-more{
    display: flex;
    justify-content: center;
  }

  .content-left{

    font-size: 70px;  
    margin-left: 40%;
  }

  .content-left span{
    margin-left: 90px;
    font-size: 70px;  
    margin-right: 20px;
  }

  .banner-more{
    margin-left: 85%;
  }

  .nswitch{
    transform: translateY(-100%);
  }

  .nswitch{
    margin-left: 140%;
  }

  .eventimg,
  .banner-right{
    margin: -15px;
    width: 650px;
  }

  .discount{
    width: 85%;
  }


}

@media (max-width: 600px){
  .content-left{
    margin-left: 70px;

  }

  .discount{
    width: 75%;
  }
}

@media (max-width: 550px){
  .content-left{
    margin-left: 60px;

  }

  .discount{
    width: 65%;
  }
}

@media (max-width: 520px){
  .content-left{
    margin-left: 50px;

  }

  .discount{
    width: 55%;
  }
}

@media (max-width: 500px){
  .content-left{
    margin-left: 60px;
    font-size: 50px;
  }

  .content-left span{
    margin-left: 60px;
    font-size: 50px;
  }

  .banner-more{
    margin-left: 130px;
  }
}

@media (max-width: 420px){
  .content-left{
    margin-left: 60px;
    font-size: 50px;
  }

  .content-left span{
    margin-left: 60px;
    font-size: 50px;
  }

  .banner-more{
    margin-left: 130px;
  }
}

@media (max-width: 390px){
  .content-left{
    margin-left: 20px;
    font-size: 50px;
  }

  .content-left span{
    margin-left: 60px;
    font-size: 50px;
  }

  .banner-more{
    margin-left: 95px;
  }
}
