.cart_{
    margin-bottom: 20px;
}

.cart-content 
{
  background-color: var(--dark); 
  border-radius: 20px;
  overflow: hidden; 
  max-width: 1560px; 
  margin: 0 auto;
  padding: 20px;
}

.empty-title{
    text-align: center;
    margin: 20px;
}

.cart-list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.item{
    border-radius: 20px;
    background: var(--bg);
    max-width: 1600px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1.5fr 1fr 16px;
    align-items: center;
    height: 100px;
}

.block-name-cat{
    text-align: center;
    margin-bottom: 30px;
}

.name{
    margin-bottom: 10px;
}

.category{
    text-align: center;
}

.price{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.image_{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 100%;
}

.image_producs_{
    width: 200px;
    height: 100px;
    border-radius: 20px;
}

.icon{
    width: 20px;
    color: var(--violet);
}

.quantity{
    display: flex;
    margin-left: 120px;
    margin-top: -20px;
}

.quantity-num{
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
}

.total-total{
    margin-top: -20px;
    margin-left: 50px;
}

.icon-close_{
    width: 20px;
    margin-top: -110px;
}

.icon-close_ 
{
    fill: var(--grey);
}

.icon-close_:hover 
{
    fill: var(--violet-dark);
    transition: fill 0.3s; 
}

.icon 
{
    fill: var(--grey);
}

.icon:hover 
{
    fill: var(--violet-dark);
    transition: fill 0.3s; 
}


.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

 .total{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey);
    margin-left: 20px;
}

.proceed{
    margin: 20px;
} 

.proceed {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.proceed {
  background: var(--violet);
  box-shadow: var(--violet);
}

.proceed:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}
