.info_footer 
{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 25px 40px;
}
  
.info_footer 
{
    color: var(--violet-dark);
}
  
.rights a 
{
    color: var(--violet);
}

.socials 
{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
  
.socials svg 
{
    width: 24px;
    height: 24px;
    fill: var(--dark-sea);
    transition: fill 0.3s;
}
  
.socials svg:hover 
{
    fill: var(--violet);
    transition: fill 0.3s;
}

.dev
{
    margin-top: 20px;
    margin-right: 120px;
    
}

.footer-content {
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1600px; 
    margin: 0 auto;
}
