.h1_help{
    text-align: center;
    font-size: 50px;
}

.help-form 
{
    display: flex;
    align-items: center;
    background: var(--bg);
    border-radius: 6px;
    height: 27px;
    padding: 7px 10px;
    column-gap: 16px;
    width: 1000px;
    position: relative;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 20px;
    /* justify-content: center; */
}

.help-header 
{
  background-color: var(--dark); 
  border-radius: 20px;
  overflow: hidden; 
  max-width: 1600px; 
  margin: 0 auto;
  
}

.header-main-text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
}

.Ordering-and-Shipping{
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1600px; 
    margin: 0 auto;
    margin-top: 20px;
}

.oshlist{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.oshitem {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.oshitem {
  background: var(--violet);
  box-shadow: var(--violet);
}

.oshitem:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

.orderimg{
    width: 200px;
    margin: 0 auto; 
    display: block;
    margin-top: 40px; 
}

.Product-Information{
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1600px; 
    margin: 0 auto;
    margin-top: 20px;   
}

.inflist{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.infitem {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.infitem {
  background: var(--violet);
  box-shadow: var(--violet);
}

.infitem:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

.infimg{
    width: 200px;
    margin: 0 auto; 
    display: block;  
    margin-top: 40px;    
}

.Account-and-Payment{
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1600px; 
    margin: 0 auto;
    margin-top: 20px;   
}

.paylist{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.payitem {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.payitem {
  background: var(--violet);
  box-shadow: var(--violet);
}

.payitem:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

.payimg{
    width: 200px;
    margin: 0 auto; 
    display: block;  
    margin-top: 40px; 
}

.Contact-Us{
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1600px; 
    margin: 0 auto;
    margin-top: 20px;   
    margin-bottom: 20px;
}

.contlist{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.contitem {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: var(--white);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.contitem {
  background: var(--violet);
  box-shadow: var(--violet);
}

.contitem:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

.contimg{
    width: 200px;
    margin: 0 auto; 
    display: block;  
    margin-top: 40px; 
}


@media (max-width: 1600px){
  .help-header{
    margin-left: 15px;
    margin-right: 20px;
  }

  .h1_help{
    line-height: 50px;
    padding: 20px;
  }

  .Ordering-and-Shipping,
  .Product-Information,
  .Account-and-Payment,
  .Contact-Us{
    margin-left: 15px;
    margin-right: 20px;
  }

}

@media (max-width: 430px){

  .oshlist,
  .payitem,
  .contitem,
  .infitem{
    margin-left: 10px;
    margin-right: 10px;
  }
}