.rccs__card{
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
}

.rccs__card-content {

    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1560px; 
    margin: 0 auto;
    padding: 20px;
}

.credit-card{
    margin-left: 15px;
    margin-right: 20px;
}

.card-back{
    background-color: var(--bg);
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 20px;
    
}


.credit-card-content{
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
    max-width: 1560px; 
    margin: 0 auto;
    padding: 20px;
}

.card{
    margin-left: 20px;
}

.form-control1{
    margin-right: -15px;
    width: 430px;
}

.form-control2{
    margin-right: -32px;
    width: 430px;
}


.form-control,
.card{
    width: auto;
}

.form-control,
.form-control1,
.form-control2,
.card{
    margin-left: 20px;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid var(--sea);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.form-control:focus,
.card:focus,
.form-control1:focus,
.form-control2:focus {
    border: 1px solid transparent;
    border-color: rgb(255, 255, 255);
    box-shadow: 2px var(--sea);
    background-color: transparent;
    color: white;
  }

.row,
.row-down{
    display: flex;
    justify-content: center;
}

.col-sm-5{
    margin-left: 20px;
}

.credit-card{
    margin-bottom: 20px;
}

.rccs__cvc__front{
    display: none;
}

.rccs__expiry__valid{
    display: none;
}

.rccs__number,
.rccs__name,
.rccs__expiry{
    margin-bottom: 10px;
}

.paybutton{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.purchase--btn {
    padding: 10px 235px;
    border: none;
    font-size: 17px;
    color: var(--white);
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.purchase--btn {
  background: var(--violet);
  box-shadow: var(--violet);
}

.purchase--btn:hover {
  box-shadow: 0 0 5px var(--violet-dark),
              0 0 25px var(--violet-dark),
              0 0 50px var(--violet-dark),
              0 0 100px var(--violet-dark);
}

@media (max-width: 700px){
    .form-control1,
    .form-control2{
        width: auto;
    }

    .col-sm-6{
        display: block;
    }

    .row-down{
        display: block;
    }

    .col-sm-6{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-sm-5{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-left: 90px;
    }

    .purchase--btn{
        padding: 20px;
        max-width: 200px;
    }
}

@media (max-width: 430px){
    .col-sm-6{
        display: block;
    }

    .col-sm-5{
        display: block;
        margin-left: 0;
    }
}

