.sidebar
{
    margin-left: 160px;
    margin-bottom: 20px;
}

.sidebar-content 
{
    width: 304px;
    padding: 24px;
    height: 423px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark); 
    border-radius: 20px;
    overflow: hidden; 
}

.menu 
{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.menu-link
{
    text-decoration: none;
    color: var(--dark-sea);
    font-size: 14px;
    line-height: 17px;
}

.menu-link:hover 
{
    color: var(--violet-dark);
    transition: color 0.3s;
}

.sidebar_footer 
{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.link 
{
    color: var(--dark-sea);
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
}
  
.link:hover 
{
    color: var(--white);
    transition: color 0.3s;
}
  